/*Basic format for all pages*/
body{
    background-color: rgb(206, 199, 199);
}
header{
    display: flex;
    flex-direction: column;
    text-align:center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgb(151, 38, 38);
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.788);
}
.copyright{
    color: #22212194;
    text-align: center;
    align-items: flex-end;
}
.navList{
    font-family: Roboto;
    font-size: 150%;
    list-style: none;
    text-align: center;
    margin-right: 50px;
}
.navList li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

/*Homepage Styling*/
.hompage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.homePageContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homePageHeader{
    font-family: Roboto;
    text-align: center;
}
.homeListObjects{
    margin-top: 10px;
    margin-bottom: 10px;
}
#imageOne{
    height: 300px;
    width: 400px;
    border: solid;
    border-width: 5px;
}
#imageTwo{
    height: 300px;
    width: 400px;
    border: solid;
    border-width: 5px;
}

/*About Styling*/
.about{
    font-family: Roboto;
}
.aboutpage{
    display:flex;
    flex-direction: column;
}
.aboutPics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.beforePic{
    flex-direction: column;
}
.afterPic{
    flex-direction: row;
}
.question{
    margin-top: -15px;
    padding-left: 10px;
    font-style: italic;
}
.answer{
    margin-top: -15px;
    padding-left:10px;
    padding-bottom: 15px;
}
.imageThree{
    height: 300px;
    width: 400px;
    border: solid;
}
.imageFour{
    height: 300px;
    width: 400px;
    border:solid;
}
.review{
    font-family: Roboto;
}

/*Report Styling*/
.report{
    font-family: Roboto;
}
.reportHeader{
    padding-left:225px;
}

.reportClick{
    padding-left:475px;
}

.reportBot{
    padding-left: 250px;
}